<!DOCTYPE html>
<html>
<head>
    <title>{% block title %}{% endblock %}</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='styles.css') }}">
    {% block head %}{% endblock %}
</head>
<body>
    <nav>
        {% block navbar %}
        {% endblock %}
    </nav>
    <div class="container">
        {% with messages = get_flashed_messages(with_categories=true) %}
            {% if messages %}
                <div id="alert-container">
                    {% for category, message in messages %}
                        <div class="alert alert-{{ category }}">{{ message }}</div>
                    {% endfor %}
                </div>
                <script>
                    setTimeout(function() {
                        const alertContainer = document.getElementById('alert-container');
                        if (alertContainer) {
                            alertContainer.remove();
                        }
                    }, 3000); // Remove alerts after 3 seconds (adjust as needed)
                </script>
            {% endif %}
        {% endwith %}
        {% block content %}{% endblock %}
    </div>
    {% block scripts %}{% endblock %}
</body>
</html>